*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	background-color: #202142;
	box-sizing: border-box;
	font-family:'Poppins', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

ul{
	list-style: none;
}
.container{
	max-width: 768px;
	margin: 100px auto;
	padding: 0 20px;
}
